PORT=''
# https://www.observe.nestjs.com/dashboard/projects/dude-42593
DUDE_OBSERVE_APP_KEY=''
DUDE_OBSERVE_APP_SECRET=''


# Postgres
EMAIL=''
PASSWORD=''
PG_ADMIN_USER=''
PG_ADMIN_PW=''
PG_HOST=''
PG_PORT=''
PG_DATABASE=''

## MongoDB
MONGO_URI=''
MG_ADMIN_USER=''
MG_ADMIN_PW=''